
.bg-tree-tr{
  position: relative;
}
.bg-tree-content {
  display: flex;
  align-items: center;
  position: relative;
}
.bg-tree-content input {
  padding-left: 20px;
}
.bg-tree-td:before{
  display: inline-block;
  content: "";
  position: relative;
  top: 0;
  left: 13px;
  width: 16px;
  height: 0;
  border-top: 1px dotted #858585;
  z-index: 1;
}
.bg-tree-td:after{
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 12px;
  width: 1px;
  height: 100%;
  border-left: 1px dotted #858585;
  z-index: 1;
}
.bg-tree-dot {
  position: absolute;
  width: 1px;
  top: -2px;
  height: 100%;
  left: 12px;
}
.bg-tree-dot:before {
  display: inline-block;
  content: "";
  left: 0;
  width: 1px;
  height: 100%;
  border-left: 1px dotted #858585;
  z-index: 1;
}
.bg-tree-icon-action {
  position: absolute;
  left: 7px;
  background: #fff;
  z-index: 2;
  cursor: pointer;
}

