.main-body-view-kanban {
  .card{
    height: 100%;
    background: #f9f9f9;
  }
}
.content-body-kanban {
  padding: 7.5px 15px;
  border-top: 1px solid #ccc;
  .kanban-items {
    margin-right: -8px;
    margin-left: -8px;
    .kanban-item {
      padding: 7.5px;
    }
    .kanban-item-inner {
      display: flex;
      flex-direction: column;
      border: 1px solid #ccc;
      padding: 6px 8px;
      height: 100%;
      background: #fff;
      cursor: pointer;
    }
    .kanban-footer {
      margin-top: auto;
    }
    .kanban-title {
      font-weight: 500;
      //font-size: 14px;
      margin-bottom: 5px;
      //margin-right: 5px;
    }
    .kanban-record {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .kanban-text{
      //font-size: 12px;
    }
  }
}
