// If you want to override variables do it here
@import "variables";

// Import styles with default layout.
// If you are going to use dark layout please comment next line
@import "~@coreui/coreui-pro/scss/coreui";

// Import styles with dark layout
// If you want to use dark layout uncomment next line
//@import "~@coreui/coreui-pro/scss/themes/dark/coreui-dark";

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";

// partials
@import "partials/app";
@import "partials/header";
@import "partials/footer";
@import "partials/nav-module";
@import "partials/perfect-scroll";
@import "partials/button";
@import "partials/icon";
@import "partials/dropdown";
@import "partials/body";
@import "partials/jsplumb";
@import "partials/view-kaban";
@import "partials/transition";
@import "partials/bootstrap-grid";

.mr-bottom-5 {
  margin-bottom: 5px !important;
}
.mx-datepicker-popup{
  z-index: 1500 !important;
}
.expand-compress{
  transform: rotate(-45deg);
  font-size: 13px !important;
}
.ij-icon-plus{
  font-size: 19px !important;
  padding-right: 3px;
}
th.pr-3{
  font-style: italic;
  font-weight: normal;
}

.main-body{
  background: none !important;
}
.modal-content .table-responsive{
  margin-bottom: 5px !important;
}
.table-editable{
  margin-bottom: 5px !important;
}
.table-view.grip-padding > tbody > tr > td:not(.bg-tree-tr),
.table-view.grip-padding > tbody > tr > td:not(.pl-0),
.table-view.grip-padding > tbody > tr > th {
  padding-left: 0.3rem !important;
  padding-right: 0.3rem !important;
}
.new-row{
  font-weight: 500;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  //width: 100px;
}
.new-row .ij-icon{
  padding-left: 0;
  padding-right: 3px !important;
  margin-top: 2px;
  margin-bottom: auto;
  cursor: pointer;
}
.app-header .navbar-nav .dropdown-menu-right{
  right: auto;
}
.select2-container .select2-selection--single{
  height: 31px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  margin-top: 0 !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  padding-top: 0;
}

.sb-modal-content .modal-body{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.ij-line-head{
  border-bottom: 1px solid #e6e2e2;
  margin-bottom: 0 !important;
  margin-top: 10px !important;
}
.ij-line-head label {
  font-size: 16px;
  cursor: pointer;
}

.el-first-modal{
  margin-top: 10px;
}

.table-responsive-auto{
  overflow-x: auto !important;
}
.pt-10{
  padding-top: 10px;
}
.pb-10{
  padding-bottom: 10px;
}
.pb-5{
  padding-bottom: 5px !important;
}
input:-internal-autofill-selected{
  background: #fff !important;
}
.tr-input-form *{
  background: rgba(236, 236, 236, 1);
}
.tr-input-form td{
  padding: 0;
}

.tr-input-form .pr-3{
  padding: 0.3rem !important;
}
.tr-input-form .form-control{
  border-radius: 0 !important;
  border: none;
  padding: 0.3rem !important;
}
.table-sm th.td-action, .table-sm td.td-action{
  padding-left: 0;
  padding-right: 0;
}
.data-label{
  color: #6d6d6d;
  font-weight: 500;
}

// responsive
@import "responsive/dashboard";
